<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="ModernUI.WPF" version="1.0.6" targetFramework="net453" />
  <package id="NetBioCore.PCL" version="2.0.141118" targetFramework="net453" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net453" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net453" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net453" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net453" />
</packages>